.results {
  font-size: 3em;
  display: flex;
  justify-content: space-around;
}

.results > .list > h2 {
  font-size: 0.75em;
  border-bottom: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 0.5em;
}
